.borderHover:hover {
    cursor: pointer;
}

.borderHover:hover {
    position: relative;
}

.borderHover:hover::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #4aaaa5;
    z-index: -1;
}

.borderHover:hover::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #4aaaa5;
    z-index: -2;
    filter: blur(30px);
}