.gamePagePic {
    background-color: rgb(38, 39, 43);
}

.font {
    font-family: 'Righteous', cursive;
    color: rgb(214, 213, 213);
}

.cardSelectBot:active {
    position: relative;
    /* top: -20px; */
}

.cardSelectTop:active {
    position: relative;
    /* top: 20px; */
}