.howToPlayTitle {
    font-size: 18px;
}

#navLogo {
    font-family: 'Righteous', cursive;
}

#homePlayBtn {
    font-family: 'Bangers', cursive;
    font-size: 23px;
    top: 10px;
    background-color: #039be5;
}

#homePlayBtn:hover {
    background-color: #0382c2;
}

#homePlayBtnContainer {
    margin-top: 20px;
}

.customFont {
    font-family: 'Righteous', cursive;
}
