.howToPlayTitle {
    font-size: 18px;
}

#navLogo {
    font-family: 'Righteous', cursive;
    animation: blinkingText 1.2s infinite;
}

#homePlayBtn {
    font-family: 'Bangers', cursive;
    font-size: 23px;
    top: 10px;
    background-image: linear-gradient( #036ea3, rgb(122, 49, 170));
}

#homePlayBtn:hover {
    background-color: #0382c2;
}

#homePlayBtnContainer {
    margin-top: 20px;
}

.customFont {
    font-family: 'Righteous', cursive;
}

/* #winsCount {
    margin-top: 25px;
} */

.howToPlayPTag {
 text-align: justify;
}

/* Username */
.username {
    font-size:17px;
    background: -webkit-linear-gradient(#ea6dfa, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Rank Table */
#rankTableHead {
    background: #efefef1f;
}
#rankTable tbody {
    background-image: url('../assets/images/space-rank-table-background.jpg');
    background-size: contain;
}
#rankTable .rankTableRecord0 {
    background: #84199eb8;
}

#rankTable .rankTableRecord1 {
    background: #6c196dba;
}

#rankTable .rankTableRecord2 {
    background: #461652d9;
}

#rankTable .rankTableRecord3,
#rankTable .rankTableRecord4,
#rankTable .rankTableRecord5
{
    background: #3c1346e0;
}

/* CSS Animation */
@keyframes blinkingText{
    0% {
        color: #bd7ccd;
    }
    49% {
        color: #a054b2;
    }
    60% {
        color: #9752ae;
    }
    99% {
        color: #b17eba;
    }
    100% {
        color: #cb7de3;
    }
}

/* Media Queries */

@media only screen and (max-width: 620px) {
    #homePlayBtn {
        font-size: 20px;
    }
}

@media only screen and (max-width: 548px) {
    #homePlayBtn {
        font-size: 18px;
    }
}

@media only screen and (max-width: 515px) {
    #homePlayBtn {
        font-size: 15px;
        padding: 0 10px;
    }
}

/* @media only screen and (min-width: 1020px) {
    .username {
        font-size: 21px;
    }
    #winsCount {
        margin-top: 15px;
    }
} */

@media only screen and (min-width: 620px) {
    .username {
        font-size: 21px;
    }
    #winsCount {
        margin-top: 15px;
    }
}

@media only screen and (min-width: 750px) {
    .username {
        font-size: 25px;
    }
    #winsCount {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .username {
        font-size: 21px;
    }
    #winsCount {
        margin-top: 15px;
    }
    #homePlayBtn {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1050px) {
    /* .username {
        font-size: 21px;
    }
    #winsCount {
        margin-top: 15px;
    } */
    #homePlayBtn {
        font-size: 23px;
    }
}

@media only screen and (min-width: 1292px) {
    .username {
        font-size: 30px;
    }
    #winsCount {
        margin-top: 25px;
    }

    #homePlayBtn {
        margin-top: 20px;
    }
}