html {
    height: 100%;
    position: relative;
}

body {
    height: 100%;
}

#initPlayBtn {
    position:absolute;
    top: 150px;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous', cursive;
}

#playBtnStyle {
    background-image: linear-gradient( #036ea3, rgb(122, 49, 170));
    border-radius: 6px;
}

#playBtnStyle:hover {
    background-image: linear-gradient( #025e8b, rgb(82, 40, 150));
}

.modal {
    opacity: .9 !important;
    background-color: rgb(66, 66, 66);
}

#lessMargin {
    margin-bottom: 2px;
}

input:-internal-autofill-selected {
    background-color: transparent !important;
}

.modalHeader {
    font-family: 'Righteous', cursive;
}

.modalBtn {
    margin-top: 10px !important;
    font-family: 'Bangers', cursive;
    font-size: 40px;
}

.modalBtn:hover {
    transition: .5s;
    color: #036596;
}

.btnActive {
    background-color: rgb(102, 102, 102);
}

.inputLoginRegister {
    color: white !important;
    /* Can't get the autofill background to be transparent... */
    background-color: transparent !important;
}

.btnStyle {
    background-color: #039be5;
    font-family: 'Bangers', cursive;
    font-size: 23px;
}

.btnStyle:hover {
    transition: .5s;
    background-color: #036596;
    letter-spacing: 2px;
}

.btnStyle:hover {
    background-color: #0382c2;
}

.mdlBtn {
    margin-top: 20px;
    width: 50%;
}

.mdlBtn:hover {
    transition: .5s;
    background-color: #036596;
    width: 60%;
    letter-spacing: 2px;
}

.modalText {
    color: rgb(219, 218, 218);
}

.modalText:hover {
    cursor: pointer;
    transition: .5s;
    color: #0382c2;
}

@media only screen and (min-width: 768px) {
    .modal {
        width: 60%;
    }
}

@media only screen and (min-width: 992px) {
    .modal {
        width: 50%;
    }

    #initPlayBtn {
        top: 300px;
    }
}

@media only screen and (min-width: 1200px) {

    #initPlayBtn {
        top: 400px;
    }
}

@media only screen and (min-width: 1400px) {

    #initPlayBtn {
        top: 520px;
    }
}