body {
  overflow: none !important;
  background-color: rgb(38, 39, 43);
}

.textColor {
  color: rgb(221, 220, 220);
}

#sideNavColor {
  background-color: rgb(38, 39, 43);
}

#nav-mobile {
  font-family: 'Righteous', cursive !important;
}

.brand-logo {
  font-family: 'Righteous', cursive !important;
}

.sideNavLink {
  margin-left: 5px;
}

.sideNavLink:hover {
  cursor: pointer;
  color: #4aaaa5;
  transition: .5s;
}

/* CHAT */
#chatBox {
  position: relative;
  height: 80%;
  width: 100%;
}

#messageInput {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#chatInput {
  color: rgb(223, 221, 221);
  margin-left: 5px;
}

.all-messages-field {
  height: 65vh;
  position: relative;
  overflow: scroll;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.all-messages-field::-webkit-scrollbar {
  display: none;
}

.myMessage {
  color: rgb(66, 66, 180);
  font-weight: 700;
}

.otherMessage {
  color: rgb(145, 41, 145);
  font-weight: 700;
}

.messageItem {
  margin-top: 8px !important;
  margin-left: 5px;
  line-height: 20px !important;
  color: #998a8a;
}


@media only screen and (min-width: 992px) {
    body {
      padding-right: 300px;
    }
    .navMargin {
      padding-right: 300px !important;
    }
    .centerText {
      padding-right: 300px !important;
    }
}

@media only screen and (max-width: 991px) {
    body {
      padding-right: 0;
    }
    .brand-logo {
      left: 0;
    }
    .sidenav {
      opacity: .9;
    }
}