#nav-mobile {
  font-family: 'Righteous', cursive;
}

.sideNavLink {
  margin-left: 5px;
}

.sideNavLink:hover {
  cursor: pointer;
  color: #4aaaa5;
  transition: .5s;
}

@media only screen and (min-width: 992px) {
    body {
      padding-right: 300px;
    }
    .navMargin {
      padding-right: 300px !important;
    }
}

@media only screen and (max-width: 991px) {
    body {
      padding-right: 0;
    }
    .brand-logo {
      left: 0;
    }
}